* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #181818;
  padding: 24px 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
header nav li {
  margin-left: 32px;
  transition: 0.4s;
}

header nav li:hover {
  transform: scale(1.2);
}
header nav li:first-of-type a {
  font-size: 13px;
}
header nav li:first-of-type {
  margin-right: 24px;
}

header nav li:last-of-type a {
  color: #000;
  background: #ffffff;
  border-radius: 14px;
  padding: 11px 20px;
}

/* main_banner */
.main_banner {
  position: relative;
  padding-bottom: 71px;
  box-sizing: border-box;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main_banner .container {
  max-width: 580px;
  text-align: center;
  margin: inherit;
}
h1 {
  margin-bottom: 18px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  color: #ffffff;
}
.container h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #c0c0c0;
}

.container p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
}
.position_items {
  position: absolute;
  right: 40px;
  bottom: 40px;
  display: flex;
}
.position_items  li {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
color: #FFFFFF;
margin-left: 16px;
list-style: none;
}
.position_items  li::before {
  content: "";
  display: inline-block;
  background-image: url(../images/icon1.svg);
  width: 16px;
  height: 16px;
  margin-right: 6px;
  position: relative;
  bottom: -7px;
}
.position_items  li:nth-child(2):before {
  background-image: url(../images/icon2.svg);
}
.position_items  li:nth-child(3):before {
  background-image: url(../images/icon3.svg);
  width: 32px;
}
.position_items  li:nth-child(4):before {
  background-image: url(../images/icon4.svg);
  width: 10px;
}


/* What we do. */
.what_we_do {
  padding-top: 112px;
  padding-bottom: 100px;
  background-color: rgb(0, 0, 0);
}

.what_we_do .container {
  max-width: 1168px;
}

.what_we_do h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;  
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.what_we_do h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;  
    text-align: center;
    margin-bottom: 42px;
    color: #C0C0C0;
}

.d_flex_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.what_we_do .d_flex_container article{
  max-width: 576px;
  position: relative;
  max-height: 600px;
  overflow: hidden;
  margin-bottom: 16px;
}
.what_we_do .d_flex_container article img {
  display: block;
  width: 100%;
}
.what_we_do .d_flex_container article .description {
  position: absolute;
  width: 100%;
  bottom: 0;  
  padding: 30px 45px 30px 30px;
  box-sizing: border-box;
}

.what_we_do .description h4 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 15px;
}

.what_we_do .description p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C0C0C0;
text-align: left;
margin-bottom: 20px;
}


/* sunset */
.sunset {
  display: flex;
  padding-right: 119px;
  background-size: 100%;
  height: 600px;
  background-image: url(../images/banner2.png);
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-size: cover;
}
.sunset_text {
  max-width: 298px;
}
.sunset_text  h5 {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
}
.sunset_text p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C0C0C0;
}
/* we_use */
.we_use {
  background-color: #000;
  min-height: 540px; 
  position: relative;
}
.we_use .container {
  max-width: 1240px;
  min-height: 540px;
  display: flex;
  align-items: center;
}
.we_use .information {
  max-width: 514px;
}
.we_use .information h4 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #C0C0C0;
margin-bottom: 6px;
}
.we_use .information h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.we_use .information p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
margin-bottom: 20px;
}
.we_use .banner_we_use {
  background-image: url(../images/we_use.jpg);
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
}


/* Monstera */
.monstera {
  display: flex;
  background-size: 100%;
  padding-right: 87px;
  height: 600px;
  background-image: url(../images/banner3.png);
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-size: cover;
}

/* past */
.past {
  padding: 120px 0;
  background-color: #000;
}
.past_clients {
  max-width: 1200px;
  text-align: center;
  margin: auto;
}
.past_clients h3 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;

  color: #ffffff;
}
.past_clients h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #c0c0c0;
  margin-bottom: 105px;
}
.icons {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* star */
.star {
  display: flex;
  padding-right: 62px;
  height: 600px;
  background-image: url(../images/banner4.png);
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-size: cover;
}

/* Help */
.help {
  padding: 120px 0;
  background: black;
}

.need_help {
  max-width: 600px;
  text-align: center;
  margin: auto;
}
.need_help h3 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 15px;
}
.need_help h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #c0c0c0;
  margin-bottom: 22px;
}
.btn {
  padding: 5px 10px 5px 5px;
  background: rgb(255, 255, 255);
  border-radius: 14px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.btn:before {
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  margin-right: 6px;
}
  /* footer */
footer{
  background: #000000;
  padding: 100px 0;
}
.footer_cont{
  max-width: 1168px;
  margin: auto;
}
.footer_first{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #FFF;
  padding-bottom: 36px;
}
.first_column{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.first_column p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #C0C0C0;
}
.list{
  display: flex;
  justify-content: flex-end;
}
.list ul{
  list-style: none;
}
.list h6 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #C0C0C0;
margin-bottom: 10px;
}
.list ul li{
  padding-bottom: 10px;
  margin-right: 55px;
}
.list ul li:last-child{
  padding-bottom: 0;
}
.list ul li a{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
text-decoration: none;
}
.subscribe{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px #FFF;
  padding: 36px 0;
  margin-bottom: 56px;
}
.subscribe div{
  padding-right: 36px;
}
.subscribe h4{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
  padding-bottom: 20px;
}
.subscribe p{
  font-family: 'Poppins';
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #C0C0C0;
}
.subscribe form{
  height: 52px;
  max-width: 458px;
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  flex-grow: 1;
}
.subscribe form label{
  display: none;
}
.subscribe form input{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;  color: #000;
  width: 80%; 
  border: none;
  height: 30px;
  background-color: transparent;
}

.subscribe button{
  width: 60px;
  height: 30px;
  background-color: #000000;
  border: none;
  border-radius: 11px;
  cursor: pointer;
}
.footer_icons{
  display: flex;
  justify-content: space-between;
}
.footer_icons p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C0C0C0;
}
.footer_icons ul{
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.footer_icons img{
  height: 24px;
  width: auto;
}