@media only screen and (max-width: 1152px){
    .d_flex_container {
        margin: auto;
        display: block;
    }
    .past .icons {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
    .we_use .container{
        display: flex;
        justify-content: center;
    }
    .we_use .banner_we_use {
        display: none;
    }

}
@media only screen and (max-width: 768px){
    header a {
        margin: auto;
    }
    nav {
        display: none;
    }
    .main_banner .container h1{
        font-size:  40px;
    }
    .main_banner .container p {
        font-size: 13px;
    }
    .we_use .banner_we_use {
        position: relative;
        flex-wrap: wrap-reverse;
    }
    .footer_first{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .first_column {
        max-width: 600px;
        margin-bottom: 20px;
        width: 100%;
        align-items: center;
    }
    .first_column p {
        font-size: 10px;
        text-align: center;
    }
    .list {
        column-gap: 30px;
    }
    .subscribe {
        flex-direction: column;
        text-align: center;
    }
    .subscribe form {
        align-self: center;
        width: 90%;
    }
    .footer_icons {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .footer_icons p {
        order: 2;
    }
    .footer_icons ul {
        margin: 20px 0 25px 0;
    }
}
@media only screen and (max-width: 580px){
    .need_help h3 {
        font-size: 19px;
    }
    .need_help h4 {
        font-size: 15px;
    }

}